body {
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.calculator {
    width: 450px;
    height: 800px;
    background: linear-gradient(to bottom right, hsl(348, 83%, 65%), hsl(348, 83%, 70%));
    margin: 2% auto 0 auto;
    border-radius: 15px;
    box-shadow: 10px 10px 20px hsl(0, 0%, 50%);
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 4px solid darkslategrey;
    border-bottom: 4px solid darkslategrey;
}

/*==================
Display Styles
===================*/

.display {
    width:  400px;
    height: 250px;
    background: linear-gradient(to bottom right, hsl(0, 0%, 90%), white);
    margin: 20px auto 10px auto;
    border-top: 4px solid black;
    border-left: 4px solid black;
    border-right: 3px solid darkslategrey;
    border-bottom: 3px solid darkslategrey;
    border-radius: 10px;
    font-family: 'Orbitron', sans-serif;
    text-align: right;
    padding-right: 10px;
}

.display:active {
    background: linear-gradient(to bottom right, hsl(0, 0%, 40%), white);
}

.displayInput {
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    font-weight: 700;
    display: inline-block;
}

.displayCurrent {
    height: 20px;
    line-height: 50px;
    font-size: 30px;
    font-weight: 500;
}

.displayHistory {
    height: 30px;
    line-height: 30px;
    font-size: 45px;
    font-weight: 800;
}

.displayInput h3 {
    color: green;
    display: inline-block;
}

.display sup {
    color: blue;
    vertical-align: super;
    font-size:  20px;

}


/*=======================
Keypad Styles
=========================*/

.keypad {
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*==================
Button Styles
====================*/

button {
    font-family: Arial, Helvetica, sans-serif;
    width: 66px;
    height: 50px;
    margin: 10px 10px 0;
    outline: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    border: 1px solid brown;
    box-shadow: 4px 4px 6px black;
}

button:active {
    box-shadow: 1px 1px 1px black;
}

button sup {
    vertical-align: super;
    font-size: smaller;
}

.advancedfunctionKey {
    color: white;
    background: linear-gradient(to bottom right,hsl(82, 39%, 25%), hsl(82, 39%, 30%));
}

.advancedfunctionKey:active {
    background: linear-gradient(to bottom right,hsl(82, 39%, 27%), hsl(82, 39%, 30%));
}

.numberKey {
    color: hsl(0, 0%, 40%);
    background: linear-gradient(to bottom right, hsl(0, 0%, 90%), hsl(0, 0%, 95%));
}

.numberKey:active {
    background: linear-gradient(to bottom right, hsl(0, 0%, 93%), hsl(0, 0%, 95%));
}

.functionKey {
    color: white;
    background: linear-gradient(to bottom right, hsl(219, 79%, 60%), hsl(219, 79%, 65%));
}

.functionKey:active {
    background: linear-gradient(to bottom right, hsl(219, 79%, 63%), hsl(219, 79%, 65%));
}
.clearKey {
    color: white;
    background: linear-gradient(to bottom right,  hsl(30, 72%, 47%), hsl(30, 72%, 52%));
}

.clearKey:active {
    background: linear-gradient(to bottom right,  hsl(30, 72%, 50%),  hsl(30, 72%, 52%));
}











